/*
.wpwl-form {max-width: 100%; margin:0; padding:0;}
//#card_1396206268551 > form > div.wpwl-group.wpwl-group-cardNumber.wpwl-clearfix.form-row.form-row-wide
*/
#cnpFrame {width: 100%; border: none;}
#cnpSwal {margin-bottom: 0.3rem; margin-top: 1rem;}
#cnpNav {display: flex; align-items: center; justify-content: center;}
#cnpNav button {font-size: small; margin: 5px; border-radius: 0.25em; font-weight: lighter;}
/*wpwl*/
#wpwlDynBrand {width:72px; padding:8px; position: absolute; right: 0px; top: 18px;}
#wpwlDynBrandImg {border-radius: unset; height: -webkit-fill-available; margin:0!important; float: right; max-height: 22px;}
form.wpwl-form .form-row-first{float:left; width:45%!important;}
form.wpwl-form .form-row-last{float:right; width:45%!important;}
form.wpwl-form .form-row-wide{margin-bottom: 1.75rem; width:100%!important;}
form.wpwl-form .form-row input::placeholder{color: #CCC; font-size: 14px; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;}
.wpwl-control-expiry, .wpwl-control-cardHolder {color:#545454!important; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif!important; height: 38px!important; border: 1px solid #CCC!important; background: transparent!important;  margin-bottom:1px!important; border-radius:0px!important; box-shadow: none!important;-webkit-appearance: none!important; -moz-appearance: none!important; appearance: none!important;}
.wpwl-group-brand, /*.wpwl-wrapper-registration-brand,*/ .wpwl-group-cardHolder, .wpwl-group-submit {display:none;}
.wpwl-wrapper-registration-registrationId, .wpwl-wrapper-registration-brand {padding-right:4px!important;}
.wpwl-wrapper-registration-details { padding-right: 10px!important; }
.wpwl-brand-VISA {
    border-radius: unset; 
    margin-top: 12px!important; 
    width: 36px;
    height: 24px;
    background: url("../img/VISA.svg") no-repeat;
    background-size: contain;
}
.wpwl-brand-MASTER {
    border-radius: unset; 
    margin-top: 7px!important;
    width: 32px;
    height: 20px;
    background: url("../img/MASTER.svg") no-repeat;
    background-size: contain;
}
.wpwl-brand-AMEX {
    border-radius: unset; 
    margin-top: 6px!important;
    width: 22px;
    height: 24px;
    background: url("../img/AMEX.svg") no-repeat;
    background-size: contain;
}
.wpwl-brand-MAESTRO {
    border-radius: unset; 
    margin-top: 7px!important;
    width: 32px;
    height: 20px;
    background: url("../img/MAESTRO.svg") no-repeat;
    background-size: contain;
}
/*.wpwl-group-brand, .wpwl-wrapper-registration-brand, .wpwl-group-cardHolder {display:none;}*/
.wpwl-control-cardNumber, .wpwl-control-expiry, .wpwl-control-cvv, .wpwl-control-cardHolder {width:100%!important;}
.wpwl-wrapper-cardNumber, .wpwl-wrapper-expiry, .wpwl-wrapper-cvv, .wpwl-wrapper-cardHolder {float:none!important; width:100%!important; position:unset!important;}
.frameContainer {margin-top:16px;}
/*.wpwl-form {max-width: unset!important;}*/
.wpwl-form {max-width: 100%; margin:0; padding:0;}
.wpwl-control {text-align:left;}
div.wpwl-hint {font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:smaller!important; text-align: left!important;}
input.wpwl-control-expiry:-webkit-input-placeholder {color:#CCC!important; font-size: 14px!important;}
input.wpwl-control-expiry:-ms-input-placeholder {color:#CCC!important; font-size: 14px!important;}
input.wpwl-control-expiry::placeholder {color:#CCC!important;}
label.nochexapiFrameLabel {color:#333333; font-size: 11px; display: block; text-align: left; line-height: 140%; margin-bottom: 3px; max-width: 100%; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;}
span.nochexapi-required {color:#FF0000;}
.wpwl-wrapper-registration-details {width:unset; margin-bottom: 0;}
.wpwl-group-registration {border:none;}
.wpwl-form-has-inputs {
    padding: 0px!important;
    border: none!important;
    background-color: none!important;
    border-radius: 0px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.wpwl-group-registration {
    border: none;
    margin-bottom: 0;
}
#tpIframeRg {margin:0; padding:8px; border:none; text-align: left!important; font-size: smaller!important;}
#tpIframeRg label {color:#333!important; font-size: smaller;}
.wpwl-group-registration.wpwl-selected {
    border-color: #CCC!important;
    border:1px solid #CCC!important;
    border-radius:1px!important;
}
.wpwl-group-registration.wpwl-selected label {
    color: #333!important;
}
.wpwl-wrapper-registration-registrationId {width:unset!important;}
.wpwl-wrapper-registration-cvv {float:right!important;}
label.wpwl-registration {line-height: 36px;}
div.wpwl-wrapper-registration-cvv {line-height: 20px;}
div.wpwl-group {width:unset;}
div#wpwl-registrations {display: block;}
div.wpwl-group-registration {font-size: small!important;}
.wpwl-group-registration.wpwl-selected {border:none!important;}
div.wpwl-wrapper-registration .wpwl-control-cvv {margin-top:5px;}
div.wpwl-container {margin-bottom: 0.5rem;}
.flexFootTp {flex-flow: column;}
.padBottom {padding-bottom: 1.6rem!important;}
.wpwl-group-cardHolder {padding-top:0.5rem!important; clear:both!important;}
.wpwl-has-error {
    color: #a94442!important;
    border-color: #a94442!important;
}
td.woocommerce-PaymentMethod--field1 {text-align:center!important;}
td.woocommerce-PaymentMethod--field1 img {
	height: 28px;
    display: inline;
    margin: 0;
    padding-top: 0px;
    border-radius: unset;
    max-width: 52px;
}
/*.swal2-popup {display:block!important;}*/

